{
  presets: ["es2015", "stage-0"],
  moduleId: 'ReactInlineSVG',
  env: {
      production: {
        plugins: [
          "add-module-exports",
          "transform-es2015-modules-umd"
        ]
      },
      development: {
        plugins: [
          "add-module-exports"
        ]
      }
    },
}
